:root {
  --text: hsl(200, 15%, 8%);
  --input-bg: hsl(0, 0%, 100%);
  --main-bg: hsl(0, 0%, 98%);
  --shadow: hsl(207, 26%, 17%);
}

.darkmode {
  --input-bg: hsl(209, 23%, 22%);
  --main-bg: hsl(209, 33%, 12%);
  --text: hsl(0, 0%, 100%);
  --shadow: hsl(0, 0%, 52%);
}

* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
}

body {
  background-color: var(--main-bg);
}

.fw-1 {
  font-weight: 300;
}

.fw-2 {
  font-weight: 600;
}

.fw-3 {
  font-weight: 800;
}

.country-card {
  background-color: var(--input-bg);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
  padding: 1rem;
  width: fit-content;
}