:root {
  --text: hsl(200, 15%, 8%);
  --input-bg: hsl(0, 0%, 100%);
  --main-bg: hsl(0, 0%, 98%);
  --shadow: hsla(0, 0%, 52%, 5.62%);
  --form-placeholder: hsl(0, 0%, 52%);
  --loading-bg: hsl(0, 0%, 86%);
}

.darkmode {
  --input-bg: hsl(209, 23%, 22%);
  --main-bg: hsl(209, 33%, 12%);
  --text: hsl(0, 0%, 100%);
  --shadow: hsla(207, 26%, 17%, 5.62%);
  --form-placeholder: hsl(0, 0%, 100%);
  --loading-bg: hsl(209, 23%, 22%);
}

* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
  font-size: 1rem;
}

body {
  background-color: var(--main-bg);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.loading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid  var(--loading-bg);
  border-top: 10px solid var(--form-placeholder);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bold {
  font-weight: 600;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--input-bg);
  padding: 13px 80px;
  box-shadow: 0 2px 4px 0 var(--shadow);
  margin-bottom: 48px;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 13px 20px;
    margin-bottom: 24px;
  }
}

.navbar-h1 {
  font-size: 1.5rem;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .navbar-h1 {
    font-size: calc(14rem/16);
  }
}

.navbar-btn {
  background-color: var(--input-bg);
  border: none;
  cursor: pointer;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .navbar-btn {
    font-size: calc(12rem/16);
  }
}

.form-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-inline: 80px;
  gap: 40px;
}

@media screen and (max-width: 768px) {
  .form-flex {
    margin-inline: 16px;
  }
}

.search-form {
  width: 480px;
  background-color: var(--input-bg);
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 32px;
  border-radius: 5px;
  box-shadow: 0 2px 9px 0 var(--shadow);
  display: flex;
  align-items: center;
  position: relative;
}

.search-input {
  border: none;
  width: 75%;
  background-color: inherit;
}

@media screen and (max-width: 768px) {
  .search-input {
    font-size: calc(12rem/16);
  }
}

.search-input:focus {
  outline: none;
}

.search-input ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--form-placeholder);
  transition: 0.4s;
}

.search-input:focus ~ .focus-border {
  transition: 0.4s;
  width: 100%;
}

.search-input::placeholder {
  color: var(--form-placeholder);
}

.search-ico {
  fill: var(--form-placeholder);
  margin-right: 24px;
}

.filter-form {
  background-color: var(--input-bg);
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 9px 0 var(--shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-select {
  cursor: pointer;
  color: var(--form-placeholder);
  background-color: inherit;
  border: none;
  outline: none;
  padding: 18px 24px;
  width: 200px;
  border-radius: 5px;
}

.filter-select:focus {
  outline: 2px solid var(--form-placeholder);
}

.filter-select:focus .filter-option.hidden {
  display: none;
}

.main {
  display: grid;
  gap: 75px;
  grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
  margin-inline: 80px;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 48px;
  margin-bottom: 48px;
}

@media screen and (max-width: 768px) {
  .main {
    margin-inline: 56px;
    margin-top: 40px;
  }
}

.country-card {
  background-color: var(--input-bg);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  padding-bottom: 24px;
}

.country-card:hover {
  transform: translateY(-7px);
  transition: transform 0.3s;
}

.card-flag-img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.0294);
}

.card-name {
  font-weight: 800;
  margin-top: 24px;
  margin-bottom: 16px;
  margin-left: 24px;
  font-size: calc(18rem/16);
}

.card-info {
  margin-left: 24px;
  line-height: 1.8rem;
}

/* country details */

.details-container {
  max-width: 40vw;
}

@media screen and (max-width: 1200px) {
  .details-container {
    max-width: 100%;
  }
}

.country-details {
  display: flex;
  gap: 120px;
  margin-inline: 80px;
  align-items: center;
  margin-bottom: 64px;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .country-details {
    gap: 44px;
    margin-inline: 28px;
  }
}

.details-h1 {
  margin-bottom: 23px;
  font-weight: 800;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .details-h1 {
    font-size: calc(22rem/16);
  }
}

.details-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 68px;
  line-height: 2rem;
}

@media screen and (max-width: 768px) {
  .details-box {
    margin-bottom: 34px;
  }
}

.box-col {
  max-width: 50%;
}

@media screen and (max-width: 768px) {
  .box-col {
    max-width: 100%;
  }
  
}

.border-countries {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  max-width: 40vw;
}

@media screen and (max-width: 768px) {
  .border-countries {
    max-width: 100%;
  }
}

.border-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.border-item {
  background-color: var(--input-bg);
  border-radius: 2px;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
  padding: 4px 28px;
}

.border-item:hover {
  transform: translateY(-3px);
  transition: transform 0.3s;
}

.details-flag-pic {
  width: 38.8vw;
}

@media screen and (max-width: 1200px) {
  .details-flag-pic {
    width: 100%;
  }
}

.details-flag-pic img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 14px 4px rgba(0, 0, 0, 0.029);
}

.details-flag-pic img:hover {
  cursor: none;
}

.back-btn {
  background-color: var(--input-bg);
  border: 2px solid transparent;
  cursor: pointer;
  padding: 10px 39px 10px 32px;
  border-radius: 5px;
  box-shadow: 0 0 7px 0 var(--shadow);
  margin-left: 80px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .back-btn {
    margin-left: 28px;
    margin-bottom: 64px;
  }
}

.back-btn:hover {
  border: 2px solid var(--text);
}